html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    --border-color : rgb(171, 171, 241);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid black;
}

.container {
    flex-grow: 1;
    margin: 10vh;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 25vh;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    font-size: 15vh;
    transition: .5s;
    cursor: pointer;
}

.add-book p {
    transition: .5s;
}

.add-book:hover {
    transform: scale(1.1);
}

.add-book:hover  p{
    transform: rotate(90deg);
}

.close-popup{
    cursor: pointer;
    transition: .4s;
}

.close-popup:hover {
    transform: scale(1.1);
}

.form {
    border: 2px solid var(--border-color);
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.341);
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-popup {
    align-self: flex-end;
    width: 1em;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: space-around;
    width: 25vw;
    height: 60vh;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 1vh;
}

.form form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}


input[type='checkbox']{
    width: 0;
    height: 0;
    visibility: hidden;
}

label[for='completed'] {
    width: 90px;
    height: 40px;
    display: block;
    background-color: rgb(200, 200, 200);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}

label[for='completed']::after{
    content: '';
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 500px;
    transition: 0.5s;
    position: absolute;
    top: 5px;
    left: 5px;
}
input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
    }

input:checked + label {
    background-color: #23cef0;
}

label:active:after {
    width: 50px;
}

.is-book-finished {
    display: flex;
    justify-content: center;
}

input[type='button'] {
    width: 120px;
    align-self: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    transition: .4s;
    background-color: aliceblue;
}

input[type='button']:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}